
.block a {
  display: block;
  text-decoration: none; /* 下線を消す */
  color: inherit; /* 文字色を継承 */
}

.block{
    border: 1.5px solid black;
    margin: 10px;
    padding: 8px;
    width: 31%;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
.graph_block{
    border: 1.5px solid black;
    margin: 10px;
    padding: 8px;
    width: 95%;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
.block_title{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0 0 0 ;
}
.situation{
    display: flex;
}
.goal{
    justify-content: center;
    border: 1.5px solid black;
    margin: 10px;
    padding: 8px;
    width: 97%;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}
.graph_title{
    font-size: 1.15rem;
    margin-bottom: 0;
}
.health_label{
    margin: 5px auto;
}
progress {
    width: 99%;
    height: 20px;
}

progress::-webkit-progress-value {
    background-color: #22C55E; /* 緑色 */
}

progress::-webkit-progress-bar {
    background-color: #ddd; /* 背景色（バーの未完了部分） */
}
