<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>食事記録確認</title>
</head>
<body>
    <p>登録内容確認</p>
    <div>
        <div>
            <label>日付</label>
            <span>{{ session['date'] }}</span>
        </div>
        <div>
            <label>食事の種類</label>
            <span>
                {% for value, label in form.meal_type.choices %}
                    {% if value == session['meal_type'] %}
                        {{ label }}
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <div>
            <label>食事内容</label>
            <ul>
                {% for item in session['meal_detail'] %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <a href="{{url_for('health.food_record')}}">修正</a>
    <a href="{{url_for('health.food_record_execute')}}">登録</a>
</body>
</html>