<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>健康一覧</title>
</head>
<body>
    <p>健康記録一覧</p>

    <form action="{{url_for('health.health_search')}}" method='POST'>
        {{form.hidden_tag()}}
        <div>
            {{form.health_date.label}}
            {{form.health_date(class='form-control',size=32)}}
            {% for error in form.health_date.errors %}
            <span style="color:red">{{error}}</span>
            {% endfor %}
        </div>
        <div>
            {{form.submit(class='btn btn-primary')}}
        </div>
    </form>
    <table>
        <tr>
            <th>日付</th>
            <th>睡眠時間(時間)</th>
            <th>体重(kg)</th>
            <th>水分摂取量(ml)</th>
        </tr>
        {% for r in result%}
        <tr>
            <td>{{r[0]}}</td>
            <td>{{r[1]}}</td>
            <td>{{r[2]}}</td>
            <td>{{r[3]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>