<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>健康管理アプリ</title>
</head>
<body>
    <h1>健康管理アプリ</h1>
    <a href="{{url_for('health.food_record')}}">食事記録</a>
    <a href="{{url_for('health.exercise_record')}}"> 運動記録</a>
    <a href="{{url_for('health.health_record')}}"> 健康記録</a>
    <a href="{{url_for('user.profile')}}">プロフィール</a>
    <a href="{{url_for('logout')}}">ログアウト</a>

    <a href="{{url_for('health.meal_search')}}">食事状況</a>
    <a href="{{url_for('health.health_search')}}">健康状況</a>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      alert("{{ messages[0] }}"); // フラッシュメッセージをアラートで表示
    </script>
    {% endif %} {% endwith %}
</body>
</html>