<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
    <title>新規登録</title>
</head>
<body>
    <h1 class="top_title">健康管理アプリ</h1>

    <p class="sub_title">新規登録</p>

    <form action="{{url_for('user.sign_up_confirm')}}" method="POST" novalidate class="login_form" >
        {{form.hidden_tag()}}

        <div>
            {{form.email(class='form-control', size='32', value=email if email else '' , placeholder='メールアドレス')}}
        </div>
        <div class="error">
            {% for error in form.email.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </div>
        <div>
            {{form.password(class='form-control', size=32, placeholder='パスワード')}}
        </div>
        <div class="error">
            {% for error in form.password.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </div>
        <div>
            {{form.password_confirm(class='form-control', size=32, placeholder='パスワード確認')}}
        </div>
        <div class="error">
            {% for error in form.password_confirm.errors %}
            <span style="color:red;">{{error}}</span>
            {% endfor %}
        </div>
        <div class="button_wrapper">
            <a href="{{url_for('top')}}" class="back_button">戻る</a>
            {{form.submit(class='button')}}
        </div>
    </div>
    </form>
    
</body>
</html>